<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>产品</title>
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/serve.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/reset.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/footer.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/flickerplate.css">
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/common.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/flickerplate.min.js"></script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white"> 
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white"> 
            	<ul>
        		<a href="${CPATH!}/"><li>首页</li></a>
                <li class="product-nav">产品
                	<dl class="btns">
        				<a href="${CPATH!}/productCompany"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="${CPATH!}/productMobile"><dd>移动应用</dd></a>
        			</dl>                 
                </li>
                <a href="${CPATH!}/solve"><li>解决方案</li></a>
            	<a href="${CPATH!}/downloadCenter"><li>下载中心</li></a>
            	<a href="${CPATH!}/serve"><li class="current">服务支持</li></a>
                <a href="${CPATH!}/productDynamic"><li>产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul> 
       		</div>
    	</div> 
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">
          	<p>服务支持&nbsp; 常见问题</p>
            <!--搜索框-->
            <div class="search-box">
            	<div class="search-input">
                	<div class="search-img"></div>
                    <input type="text" placeholder="搜索问题关键字，找到答案">
                </div>
                <a href="${CPATH!}/searchResult"><div class="search-button">搜索</div></a>
            </div>
           	
          </div>
    </div>
    
    <div class="serve-container-wrap">
    	<div class="serve-container-box">
        	<div class="serve-title">
            	<a href="${CPATH!}/index.html">首页</a>
                &nbsp;&gt;&nbsp;
                <a href="${CPATH!}/serve">服务支持</a>
                &nbsp;&gt;&nbsp;
                <a href="${CPATH!}/page_serveDetails">产品概述</a>
            </div>	
            
            <div class="serve-container">
            	<ul class="serve-nav">
                	<li class="current">
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon01.png">
                            <span>产品概述</span>	
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon02.png">
                            <span>注册与登录</span>	
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon03.png">
                            <span>供应商帮助</span>	
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon04.png">
                            <span>采购商帮助</span>	
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon05.png">
                            <span>移动端安装/设置</span>	
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon06.png">
                            <span>企业选择及购买</span>	
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                        	<img src="${CTPATH}/Images/serveicon07.png">
                            <span>联系我们</span>	
                        </a>
                    </li>
                </ul>
                <!--右边对应内容-->
                <div class="right-container">
                
                <!--导航标题对应内容-->
                <ul class="nav-container">
                	
                	<li>
                    <a href="page_serveDetails.html">
                        <div class="problem-title">什么是供应商管理</div>
                    	<dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    

                    <li>
                    <a href="#">
                        <div class="problem-title">企业平台交互规范</div>
                    	<dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    
                    
                    <li>
                    <a href="#">
                        <div class="problem-title">什么是快速供应链效应</div>
                    	<dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                     </a>    
                    </li>
                    
                    <li>
                    <a href="#">
                        <div class="problem-title">如何管理客户</div>
                    	<dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    
                    
                    <li>
                    <a href="#">
                        <div class="problem-title">如何创建供应商</div>
                    	<dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    
                    
                    <li>
                    <a href="#">
                        <div class="problem-title">什么是关联账户</div>
                    	<dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    <li>
                    <a href="#">
                        <div class="problem-title">如何审批合格供应商</div>
                    	<dl>
                        	<dd>2016-09-06  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    <li>
                    <a href="#">
                        <div class="problem-title">如何启用资源菜单管理操作</div>
                    	<dl>
                        	<dd>2016-09-06  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    <li>
                    <a href="#">
                        <div class="problem-title">什么是供应商管理</div>
                    	<dl>
                        	<dd>2016-09-06  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </a>    
                    </li>
                    <li>
                    <a href="#">
                        <div class="problem-title">什么是SRM</div>
                    	<dl>
                        	<dd>2016-08-24   09:00</dd>
                            <dt>188</dt>
                        </dl>
                    </a>    
                    </li>
                    <li>
                    <a href="#">
                        <div class="problem-title">如何规范采购行为</div>
                    	<dl>
                        	<dd>2016-08-16  09:00</dd>
                            <dt>5</dt>
                        </dl>
                    </a>    
                    </li>
                    <li>
                    <a href="#">
                        <div class="problem-title">如何启用资源菜单管理操作</div>
                    	<dl>
                        	<dd>2016-08-15 09:00</dd>
                            <dt>165</dt>
                        </dl>
                    </a>    
                    </li>
                </ul>
                
                </div>
                
            
            </div>	
        
        </div>
    </div>
  
  	
  
  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>
//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	
//鼠标经过解决方案
$(".apply-box").mouseenter(function(){
	$(this).find(".opcity-gray").hide();
}).mouseleave(function(){
	$(".opcity-gray").show();
})

//鼠标经过问题
$(".nav-container li").mouseenter(function(){
	
		$(this).find(".problem-title").addClass("current");
		
	}).mouseleave(function(){
		
		$(this).find(".problem-title").removeClass("current");	
		
});
//
$(".serve-nav li").click(function(){
	$(".current").removeClass("current");
	$(this).addClass("current");
	
	})


</script>
