<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>新闻详情</title>
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/news-details.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/reset.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/footer.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/flickerplate.css">
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/common.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/flickerplate.min.js"></script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white"> 
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white"> 
            	<ul>
        		<a href="index.html"><li>首页</li></a> 
                <li class="product-nav">产品
                	<dl class="btns">
        				<a href="${CTPATH}/productCompany"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="${CTPATH}/productMobile"><dd>移动应用</dd></a>
        			</dl>                 
                </li>
                <a href="${CTPATH}/solve"><li>解决方案</li></a>
            	<a href="${CTPATH}/downloadCenter"><li>下载中心</li></a>
            	<a href="${CTPATH}/serve"><li>服务支持</li></a>
                <a href="${CTPATH}/productDynamic"><li  class="current">产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul> 
       		</div>
    	</div> 
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">
          	<p>服务支持&nbsp; 常见问题</p>
            <span>我们坚信技术的力量<br>
可以让人和人，人和服务的连接方式焕然一新</span>
          </div>
    </div>
    
    <div class="serve-container-wrap">
    	<div class="serve-container-box">
        	<div class="serve-title">
            	<a href="${CTPATH}/">首页</a>
                &nbsp;&gt;&nbsp;
                <a href="${CTPATH}/productDynamic">产品动态</a>
                &nbsp;&gt;&nbsp;
                <a href="#">北京丝吉利娅SAP中国本地化实施项目成功上线</a>
               
            </div>	
            
            <div class="serve-container">
            	
                <!--右边对应内容-->
                <div class="right-container">
                	<div class="title-box">
                    	<p>北京丝吉利娅SAP中国本地化实施项目成功上线</p>
                        <dl>
                        	<dd>2016-09-07 &nbsp;作者：张汇聚</dd>
                            <dt>2,755</dt>
                        </dl>
                    </div>
                    <ul>
                    	<li>
                            北京丝吉利娅奥彼门窗五金公司（以下简称“丝吉利娅”）是德国著名的门窗五金制造商，是全球拥有6000人以上的大型集团公司。近日，丝吉利娅携手北京东软慧聚信息技术股份有限公司（以下简称“东软慧聚”）共同实施的SAP中国本地化项目成功上线，通过对原先国际化模版进行中国本地化实施，解决了全球模版统合，全面适应中国本地财务制度，以及生产、质量、采购、销售的一体化和全面优化及定制开发，提高信息系统性能，打造产销实时联动、可扩展的信息化管理平台。
                        </li>
                        	
                        <li>
                            丝吉利娅是典型的国际化集团企业在中国本地设立的制造型工厂和产销一体的公司，是建筑材料的高质量产品的生产商。其的产品覆盖各类门窗五金制品，从五金门拉手到整体门窗工程，提供全系列的基于德国科技制造的高耐用性产品。
                           
                        </li>
                        <li>
                        本次项目在东软咨询总监朱卿的指导下，实现了中国本地化SAP系统的功能全面优化，实施的范围包括财务管理、销售管理、采购与库存管理、生产管理以及质量管理等。在项目中，主要帮助客户解决了物料损益当期结转、国际销售跨越开票、关税汇率核算、生产成本核算优化等问题，将财务从过去的中国本地化产品平台完整的迁移到了SAP系统中，实现了财务业务一体化的平台搭建，使业务更加顺畅和规范化。
                        </li>
                        <li>
                        	作为最具专业性的管理咨询软件应用服务供应商，东软慧聚通过专业的技术、丰富的国际化项目实施经验和制造业经验及中国本地化实施方案，在英文工作环境中与丝吉利娅的国际专家团队充分沟通，解决了国际化集团企业常见的中国本地化业务差异，从而有效的进行财务数据导入和迁移，实现了供应链系统与财务系统的集成，数据信息的共享。进而帮助丝吉利娅实现了信息化平台的迁移和统一，规范了信息化管理平台，优化了本地业务流程，为企业的快速发展提供有力支撑。
                        </li>
                    </ul>
                
                
                </div>
                
            
            </div>	
        
        </div>
    </div>
  
  	
  
  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>
//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	
//鼠标经过解决方案
$(".apply-box").mouseenter(function(){
	$(this).find(".opcity-gray").hide();
}).mouseleave(function(){
	$(".opcity-gray").show();
})

//鼠标经过问题
$(".nav-container li").mouseenter(function(){
	
		$(this).find(".problem-title").addClass("current");
		
	}).mouseleave(function(){
		
		$(this).find(".problem-title").removeClass("current");	
		
});


</script>
