<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>产品动态</title>
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/dynamic.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/reset.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/footer.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/flickerplate.css">
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/common.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/flickerplate.min.js"></script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white"> 
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white"> 
            	<ul>
        		<a href="${CPATH!}/"><li>首页</li></a>
                <li class="product-nav">产品
                	<dl class="btns">
        				<a href="${CPATH!}/productCompany"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="${CPATH!}/productMobile.html"><dd>移动应用</dd></a>
        			</dl>                 
                </li>
                <a href="${CPATH!}/solve"><li>解决方案</li></a>
            	<a href="${CPATH!}/downloadCenter"><li>下载中心</li></a>
            	<a href="${CPATH!}/serve"><li>服务支持</li></a>
                <a href="${CPATH!}/productDynamic"><li class="current">产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul> 
       		</div>
    	</div> 
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">
          	<p>产品动态新闻</p>
            <span>我们坚信技术的力量<br>
可以让人和人，人和服务的连接方式焕然一新</span>
           	
          </div>
    </div>
    <!--主体框-->
    <div class="serve-container-wrap">
    	<div class="serve-container-box">
        	<div class="serve-title">
            	<a href="index.html">首页</a>
                &nbsp;&gt;&nbsp;
                <a href="#">产品动态</a>
            </div>	
            
            <div class="news-box">
            	<ul>
                	<li>
                    <a href="${CPATH!}/newsDetails">
                    	<div class="news-img">
                        	<img src="${CTPATH}/Images/newsimg01.png">
                            <div class="opcity"></div>
                        </div>
                        
                        <div class="news-container">
                        	<p>北京丝吉利娅SAP中国本地化实施项目成功上线</p>
                            <span>作者：慧聚   2016-10-10 </span>
                            <div class="container-text">
                            	北京丝吉利娅奥彼门窗五金公司（以下简称“丝吉利娅”）是德国著名的门窗五金制造商，2006年7月31日，丝吉利娅-奥彼集团收购了欧洲最大的门锁五金件生产商KFV公司，从而进一步扩大和完善了产品系列。窗门型...<i>【阅读全文】</i>
                            </div>
                        </div>
                    </a>
                    </li>
                    
                    <li>
                    <a href="${CPATH!}/newsDetails">
                    	<div class="news-img">
                        	<img src="${CTPATH}/Images/newsimg02.png">
                            <div class="opcity"></div>
                        </div>
                        
                        <div class="news-container">
                        	<p>北京丝吉利娅SAP中国本地化实施项目成功上线</p>
                            <span>作者：慧聚   2016-10-10 </span>
                            <div class="container-text">
                            	北京丝吉利娅奥彼门窗五金公司（以下简称“丝吉利娅”）是德国著名的门窗五金制造商，2006年7月31日，丝吉利娅-奥彼集团收购了欧洲最大的门锁五金件生产商KFV公司，从而进一步扩大和完善了产品系列。丝吉利娅-奥彼集团在德国本土共有员工6000名，年营业额超过60亿人民币，是德国和欧洲最大的窗门五金件生产商之一...<i>【阅读全文】</i>
                            </div>
                        </div>
                    </a>
                    </li>
                    
                    <li>
                    <a href="${CPATH!}/newsDetails">
                    	<div class="news-img">
                        	<img src="${CTPATH}/Images/newsimg03.png">
                            <div class="opcity"></div>
                        </div>
                        
                        <div class="news-container">
                        	<p>北京丝吉利娅SAP中国本地化实施项目成功上线</p>
                            <span>作者：慧聚   2016-10-10 </span>
                            <div class="container-text">
                            	北京丝吉利娅奥彼门窗五金公司（以下简称“丝吉利娅”）是德国著名的门窗五金制造商，2006年7月31日，丝吉利娅-奥彼集团收购了欧洲最大的门锁五金件生产商KFV公司，从而进一步扩大和完善了产品系列。丝吉利娅-奥彼集团在德国本土共有员工6000名，年营业额超过60亿人民币，是德国和欧洲最大的窗门五金件生产商之各种窗门型...<i>【阅读全文】</i>
                            </div>
                        </div>
                    </a>
                    </li>
                    
                    <li>
                    <a href="${CPATH!}/newsDetails">
                    	<div class="news-img">
                        	<img src="${CTPATH}/Images/newsimg04.png">
                            <div class="opcity"></div>
                        </div>
                        
                        <div class="news-container">
                        	<p>北京丝吉利娅SAP中国本地化实施项目成功上线</p>
                            <span>作者：慧聚   2016-10-10 </span>
                            <div class="container-text">
                            	北京丝吉利娅奥彼门窗五金公司（以下简称“丝吉利娅”）是德国著名的门窗五金制造商，2006年7月31日，丝吉利娅-奥彼集团收购了欧洲最大的门锁五金件生产商KFV公司，从而进一步扩大和完善了产品系列。丝吉利娅-奥彼集团在德国本土共有员工6000名，年营业额超过60亿人民币，是德国和欧洲最大的窗门五金件生产商之一。其产品覆盖铝﹑塑﹑木铝复合等各种材料和内...<i>【阅读全文】</i>
                            </div>
                        </div>
                    </a>
                    </li>
                </ul>
            </div>
            
            <!--页码-->
            <div class="page-wrap">
            	<ul>
                	<li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                </ul>
                <div class="next-btn">下一页&nbsp; &gt;</div>
            </div>
            
            
        </div>
    </div>
  
  	
  
  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>
//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	
//鼠标经过解决方案
$(".apply-box").mouseenter(function(){
	$(this).find(".opcity-gray").hide();
}).mouseleave(function(){
	$(".opcity-gray").show();
})


//鼠标经过问题
$(".news-box ul li").mouseenter(function(){
	
		$(this).find(".opcity").css("display","block");
		
	}).mouseleave(function(){
		
		$(this).find(".opcity").css("display","none");	
		
});





</script>
