<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>解决方案</title>
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/solve.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/reset.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/footer.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/flickerplate.css">
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/common.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/flickerplate.min.js"></script>
<script>
$(document).ready(function(){
	$('.flicker-example').flicker();
});
</script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white"> 
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white"> 
            	<ul>
        		<a href="${CTPATH!}/"><li>首页</li></a>
                <li class="product-nav">产品
                	<dl class="btns">
        				<a href="${CTPATH!}/product-company"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="${CPATH!}/productMobile"><dd>移动应用</dd></a>
        			</dl>                 
                </li>
                <a href="${CPATH!}/solve"><li class="current">解决方案</li></a>
            	<a href="${CPATH!}/downloadCenter"><li>下载中心</li></a>
            	<a href="${CPATH!}/serve"><li>服务支持</li></a>
                <a href="${CPATH!}/productDynamic"><li>产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul> 
       		</div>
    	</div> 
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">
           	<div class="banner-title">
            	<p>
            	解决方案中心<br>
                <span>直面需求  企业级场景度身配置</span>
              </p>
            </div> 
          </div>
    </div>
    <!--行业解决方案-->
    <div class="solve-wrap">
    	<div class="solve-box">
        	<div class="tip">SOLUTIONS</div>
            <h1>行业解决方案</h1>
            <div class="second-title">对接行业需求，创造商业价值</div>
            <ul>
            	<li>
                	<img src="${CTPATH}/Images/solveimg01.png">
                    <div class="opcity-01"></div>
                    <div class="opcity-02"></div>
                    <div class="trade-01">
                    	<p>制造行业<br>
                        <span>BUILDING</span></p>
                    </div>
                    <div class="trade-details">
                    	<p>制造行业</p>
                        <dl>
                        	<dd>
                        	1. 智能化产品管理<br>
实现智能化产品生产管理，数据洞察实时知道生产资<br>源配置和决策。
							</dd>
                            <dd>
                        	2. 主动供应链管理<br>
主动掌握采购需求导向，有效管理供应商、经销商和<br>客户之间供应链网络，缩短生产周期。
							</dd>
                        </dl>	
                    </div>
                </li>
                
                <li>
                	<img src="${CTPATH}/Images/solveimg02.png">
                    <div class="opcity-01"></div>
                    <div class="opcity-02"></div>
                    <div class="trade-01">
                    	<p>医药行业<br>
                        <span>MEDICINE</span></p>
                    </div>
                    <div class="trade-details">
                    	<p>医药行业</p>
                        <dl>
                        	<dd>
                        	1. 智能化产品管理<br>
实现智能化产品生产管理，数据洞察实时知道生产资<br>源配置和决策。
							</dd>
                            <dd>
                        	2. 主动供应链管理<br>
主动掌握采购需求导向，有效管理供应商、经销商和<br>客户之间供应链网络，缩短生产周期。
							</dd>
                        </dl>	
                    </div>
                </li>
                
                <li>
                	<img src="${CTPATH}/Images/solveimg03.png">
                    <div class="opcity-01"></div>
                    <div class="opcity-02"></div>
                    <div class="trade-01">
                    	<p>电子行业<br>
                        <span>ELECTRONICS</span></p>
                    </div>
                    <div class="trade-details">
                    	<p>电子行业</p>
                        <dl>
                        	<dd>
                        	1. 智能化产品管理<br>
实现智能化产品生产管理，数据洞察实时知道生产资<br>源配置和决策。
							</dd>
                            <dd>
                        	2. 主动供应链管理<br>
主动掌握采购需求导向，有效管理供应商、经销商和<br>客户之间供应链网络，缩短生产周期。
							</dd>
                        </dl>	
                    </div>
                </li>
                
                <li>
                	<img src="${CTPATH}/Images/solveimg04.png">
                    <div class="opcity-01"></div>
                    <div class="opcity-02"></div>
                    <div class="trade-01">
                    	<p>建筑行业<br>
                        <span>BUILDING</span></p>
                    </div>
                    <div class="trade-details">
                    	<p>制作行业</p>
                        <dl>
                        	<dd>
                        	1. 智能化产品管理<br>
实现智能化产品生产管理，数据洞察实时知道生产资<br>源配置和决策。
							</dd>
                            <dd>
                        	2. 主动供应链管理<br>
主动掌握采购需求导向，有效管理供应商、经销商和<br>客户之间供应链网络，缩短生产周期。
							</dd>
                        </dl>	
                    </div>
                </li>
                
                <li>
                	<img src="${CTPATH}/Images/solveimg05.png">
                    <div class="opcity-01"></div>
                    <div class="opcity-02"></div>
                    <div class="trade-01">
                    	<p>纺织行业<br>
                        <span>TEXTILE</span></p>
                    </div>
                    <div class="trade-details">
                    	<p>纺织行业</p>
                        <dl>
                        	<dd>
                        	1. 智能化产品管理<br>
实现智能化产品生产管理，数据洞察实时知道生产资<br>源配置和决策。
							</dd>
                            <dd>
                        	2. 主动供应链管理<br>
主动掌握采购需求导向，有效管理供应商、经销商和<br>客户之间供应链网络，缩短生产周期。
							</dd>
                        </dl>	
                    </div>
                </li>
                
                <li>
                	<img src="${CTPATH}/Images/solveimg06.png">
                    <div class="opcity-01"></div>
                    <div class="opcity-02"></div>
                    <div class="trade-01">
                    	<p>联系我们<br>
                        <span>CONTACT</span></p>
                    </div>
                    <div class="trade-details">
                    	<p>联系我们</p>
                        <dl>
                        	<dd>
                        	1. 智能化产品管理<br>
实现智能化产品生产管理，数据洞察实时知道生产资<br>源配置和决策。
							</dd>
                            <dd>
                        	2. 主动供应链管理<br>
主动掌握采购需求导向，有效管理供应商、经销商和<br>客户之间供应链网络，缩短生产周期。
							</dd>
                        </dl>	
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <!--产品指南-->
    <div class="guide-wrap">
    	<div class="guide-box">
        	<div class="tip">GUIDE LINES</div>
            <h1>产品指南</h1>
            <div class="second-title">整合业务功能，提升采购能力</div>
            <ul>
        		<li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg01.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>集团管控</p>
                    	<span>统一的集团采集平台</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg02.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>电子商务</p>
                    	<span>采购电子商务平台</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg03.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>电子招标</p>
                    	<span>专业、合规的电子招标平台</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg04.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>移动应用</p>
                    	<span>APP，微信、钉钉等移动应用</span>
                    </div>
            	</li>
                
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg05.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>供应商评估方案</p>
                    	<span>严格的供应商引入机制及绩效评估管理</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg06.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>多样化寻源方案</p>
                    	<span>专业化的线上询报价、竞价采购流程</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg07.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>采购过程把控追踪</p>
                    	<span>最佳的采购过程管控流程</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg08.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>内部采购管控方案</p>
                    	<span>规范化的部门采购管控机制</span>
                    </div>
            	</li>
                
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg09.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>财务对账</p>
                    	<span>自动化财务对账</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg10.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>库存管理</p>
                    	<span>智能化仓储管理</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg11.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>采用协同数据分析</p>
                    	<span>强大的数据分析报告管理</span>
                    </div>
            	</li>
                <li>
                	<div class="height-245">
            			<div class="guide-img">
                    		<img src="${CTPATH}/Images/guideimg12.png">
                            <div class="guide-opcity"></div>
                    	</div>
                    	<p>系统集成</p>
                    	<span>优秀系统适配性，支持与主流系统无缝连接</span>
                    </div>
            	</li>
                
            
        	</ul>
        </div>
    </div>
  	
    <!--了解更多-->
    <div class="know-more-wrap">
    	<div class="know-more-box">
        	<a href="#">
        	<div class="know-more">
            	了解更多
            </div>
           	</a>
        </div>
    </div>
  
  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>
//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	
//鼠标经过解决方案
$(".solve-box ul li").mouseenter(function(){
	$(this).find(".opcity-01").hide();
	$(this).find(".opcity-02").show();
	$(this).find(".trade-01").hide();
	$(this).find(".trade-details").show();
}).mouseleave(function(){
	$(this).find(".opcity-02").hide();
	$(this).find(".opcity-01").show();
	$(this).find(".trade-details").hide();
	$(this).find(".trade-01").show();
	
})


	

	

	
</script>
