<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>下载中心</title>
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/download-center.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/reset.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/footer.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/flickerplate.css">
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/common.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/flickerplate.min.js"></script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white">
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white">
            	<ul>
        		<a href="${CPATH!}/"><li>首页</li></a>
                <li class="product-nav">产品
                	<dl class="btns">
        				<a href="${CPATH!}/productCompany"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="${CPATH!}/productMobile"><dd>移动应用</dd></a>
        			</dl>
                </li>
                <a href="${CPATH!}/solve"><li>解决方案</li></a>
            	<a href="${CPATH!}/downloadCenter"><li class="current">下载中心</li></a>
            	<a href="${CPATH!}/serve"><li>服务支持</li></a>
                <a href="${CPATH!}/productDynamic"><li>产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul>
       		</div>
    	</div>
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">  
          </div>
    </div>
    <!--行业解决方案-->
    <div class="center-wrap">
    	<div class="center-box">
        	<h1>客户端下载</h1>
            <h3>移动办公  轻松上手</h3>
            <div class="download-guide-wrap">
            	<div class="center-show"></div>
                <ul>
                	<li>
                    	<div class="img-box">
                        	<img src="${CTPATH}/Images/appleicon.png">
                        </div>
                        <p>iPhone <br> <span>适用IOS8.0以上</span></p>
                        <a href="#"><div class="down-btn">下载</div></a>
                    </li>
                    <li>
                    	<div class="img-box">
                        	<img src="${CTPATH}/Images/anicon.png">
                        </div>
                        <p>Android<br> <span>适用Android8.0以上</span></p>
                        <a href="#"><div class="down-btn">下载</div></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>

//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	

	


	
</script>
