<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>产品</title>
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/product-m.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/reset.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/footer.css">
<link rel="stylesheet" type="text/css" href="${CTPATH}/content/flickerplate.css">
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/common.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="${CTPATH}/Scripts/flickerplate.min.js"></script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white"> 
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white"> 
            	<ul>
        		<a href="${CPATH!}/"><li>首页</li></a>
                <li class="product-nav current">产品
                	<dl class="btns">
        				<a href="${CPATH!}/productCompany"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="${CPATH!}/productMobile"><dd>移动应用</dd></a>
        			</dl>                 
                </li>
                <a href="${CPATH!}/solve"><li>解决方案</li></a>
            	<a href="${CPATH!}/downloadCenter"><li>下载中心</li></a>
            	<a href="${CPATH!}/serve"><li>服务支持</li></a>
                <a href="${CPATH!}/productDynamic"><li>产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul> 
       		</div>
    	</div> 
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">
           	<div class="banner-title">
            	<p>
            	移动办公<br>
                <span>多端覆盖&nbsp; 数据同步&nbsp; 随时随地 &nbsp; 智能场景</span>
              </p>
            </div> 
            <div class="b-button">马上体验</div>
          </div>
    </div>
    <!--文字左对齐-->
    <div class="product-introduce-wrap">
    	<div class="product-introduce-box">
        	<ul class="text-left-box">
            	<li>
                	<div class="E-text t-left">COMMUNICATION</div>
                    <div class="text-title t-left">供采协同沟通升级</div>
                    <div class="text-container t-left">
                    	订单、发货、收货、对账多类业务<br>
						随时可查，沟通更高效，工作零距离
                    </div>
                </li>
                <li class="t-right">
                	<img src="${CTPATH}/Images/mobile01.png">
                </li>
            </ul>
        </div>
    </div>
    <!--文字右对齐-->
    <div class="product-introduce-wrap-2">
    	<div class="product-introduce-box">
            <ul class="text-right-box">
                <li>
                	<img src="${CTPATH}/Images/mobile02.png">
                </li>
                <li>
                	<div class="E-text t-right">CONTROL</div>
                    <div class="text-title t-right">一手掌握业务动态</div>
                    <div class="text-container-2 t-right">
                    	业务动态自动提醒<br>
						即时查询，帮助企业把采购业务管理妥当
                    </div>
                </li>
            </ul>			
        </div>
    </div>
    
    <!--文字左对齐-->
    <div class="product-introduce-wrap">
    	<div class="product-introduce-box">
        	<ul class="text-left-box">
            	<li>
                	<div class="E-text t-left">SCHEDULE</div>
                    <div class="text-title t-left">待办事项及时处理</div>
                    <div class="text-container t-left">
                    	日常业务随时随地即可处理<br>
						日程管理协助智能催促采购进度，提高采购执行效率
                    </div>
                </li>
                <li>
                	<img src="${CTPATH}/Images/mobile03.png">
                </li>
            </ul>
        </div>
    </div>
    <!--文字右对齐-->
    <div class="product-introduce-wrap-2">
    	<div class="product-introduce-box">
            <ul class="text-right-box">
                <li>
                	<img src="${CTPATH}/Images/mobile04.png">
                </li>
                <li>
                	<div class="E-text t-right">STATISTICS</div>
                    <div class="text-title t-right">数据报表一键生成</div>
                    <div class="text-container-2 t-right">
                    	供应商绩效、采购、出入库明细表<br>
						汇总表等智能生成，图文并茂，一步到位
                    </div>
                </li>
            </ul>			
        </div>
    </div>
    
    <!--文字左对齐-->
    <div class="product-introduce-wrap">
    	<div class="product-introduce-box">
        	<ul class="text-left-box">
            	<li>
                	<div class="E-text t-left">SYNCHRONICATION</div>
                    <div class="text-title t-left">与PC无缝集成同步</div>
                    <div class="text-container t-left">
                    	跨平台设计<br>
						PC与移动端无缝集成，数据实时同步
                    </div>
                </li>
                <li>
                	<img class="margin-none" src="${CTPATH}/Images/mobile05.png">
                </li>
            </ul>
        </div>
    </div>
    
    <!--第三方-->
    <div class="thirdparty-wrap">
    	<div class="thirdparty-box">
        	<p>移动第三方应用接入</p>
            <div class="second-title">
            	支持与微信、钉钉等主流第三方应用接入，成功实现业务查询、报表查询
            </div>
            <ul>
            	<li>
                	<div class="thirdparty-apply">
                    	<div class="apply-box">
                        	<img src="${CTPATH}/Images/dingicon.png">
                            <div class="opcity-gray"></div>
                        </div>
                    </div>
                    <div class="apply-name">钉钉</div>
                </li>
                
                <li>
                	<div class="thirdparty-apply">
                    	<div class="apply-box">
                        	<img src="${CTPATH}/Images/weixinicon.png">
                            <div class="opcity-gray"></div>
                        </div>
                    </div>
                    <div class="apply-name">微信</div>
                </li>
                
                <li>
                	<div class="thirdparty-apply">
                    	<div class="apply-box">
                        	<img src="${CTPATH}/Images/moreicon.png">
                            <div class="opcity-gray"></div>
                        </div>
                    </div>
                    <div class="apply-name">即将开启</div>
                </li>
                
            </ul>
        </div>
    </div>
    
    <!--了解更多-->
    <div class="know-more-wrap">
    	<div class="know-more-box">
        	<a href="#">
        	<div class="know-more">
            	了解更多
            </div>
           	</a>
        </div>
    </div>
  
  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>
//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	
//鼠标经过解决方案
$(".apply-box").mouseenter(function(){
	$(this).find(".opcity-gray").hide();
}).mouseleave(function(){
	$(".opcity-gray").show();
})


	

	

	
</script>
