<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>产品</title>
<link rel="stylesheet" type="text/css" href="content/serve-details.css">
<link rel="stylesheet" type="text/css" href="Content/reset.css">
<link rel="stylesheet" type="text/css" href="Content/footer.css">
<link rel="stylesheet" type="text/css" href="Content/flickerplate.css">
<script type="text/javascript" src="Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="Scripts/common.js"></script>
<script type="text/javascript" src="Scripts/jquery-v1.10.2.min.js"></script>
<script type="text/javascript" src="Scripts/modernizr-custom-v2.7.1.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-finger-v0.1.0.min.js"></script>
<script type="text/javascript" src="Scripts/flickerplate.min.js"></script>
</head>
<body class="index-bg">
<div class="index-wrap">
    <!--导航框-->
    <div class="header-wrap-white">
    	<div class="header-white"> 
      		<div class="logo-blue"></div>
        	<div class="nav-banner-white"> 
            	<ul>
        		<a href="index.html"><li>首页</li></a> 
                <li class="product-nav">产品
                	<dl class="btns">
        				<a href="product-company.html"><dd>企业版</dd></a>
            			<a href="#"><dd>SAAS版</dd></a>
                        <a href="product-mobile.html"><dd>移动应用</dd></a>
        			</dl>                 
                </li>
                <a href="solve.html"><li>解决方案</li></a> 
            	<a href="download-center.html"><li>下载中心</li></a> 
            	<a href="serve.html"><li class="current">服务支持</li></a>
                <a href="product-dynamic.html"><li>产品动态</li></a>
                <a href="#"><li>慧聚采购</li></a>
                </ul> 
       		</div>
    	</div> 
    </div>

  	<!--banner框-->
    <div class="banner-wrap">
          <div class="banner-box">
          	<p>服务支持&nbsp; 常见问题</p>
            <!--搜索框-->
            <div class="search-box">
            	<div class="search-input">
                	<div class="search-img"></div>
                    <input type="text" placeholder="搜索问题关键字，找到答案">
                </div>
                <a href="page_searchResult.html"><div class="search-button">搜索</div></a>
            </div>
           	
          </div>
    </div>
    
    <div class="serve-container-wrap">
    	<div class="serve-container-box">
        	<div class="serve-title">
            	<a href="index.html">首页</a>
                &nbsp;&gt;&nbsp;
                <a href="serve.html">服务支持</a>
                &nbsp;&gt;&nbsp;
                <a href="page_serveDetails.html">产品概述</a>
                &nbsp;&gt;&nbsp;
                <a href="#">什么是供应商管理</a>
            </div>	
            
            <div class="serve-container">
            	<div class="serve-nav">
                	<!--大标题-->
                	<div class="details-title">
                    	<img src="Images/serveicon01.png">
                        <span>产品概述</span>
                    </div>
                    <!--小标题-->
                    <ul class="second-nav">
                    	<li>
                    		<a href="page_serveDetails.html">什么是供应商管理</a>
                    	</li>
                    	<li>
                    		<a href="serve-details02.html">如何管理客户</a>
                    	</li>
                    	<li>
                    		<a href="serve-details03.html">如何创建供应商	</a>
                    	</li>
                    	<li>
                    		<a href="serve-details04.html" class="current">什么是关联账户</a>
                    	</li>
                    	<li>
                    		<a href="serve-details05.html">如何审批合格供应商</a>
                    	</li>
                    	<li>
                    		<a href="serve-details06.html">如何启用资源菜单管理操作</a>
                    	</li>
                    
                    	<li>
                        	<a href="serve-details07.html">什么是SRM</a>
                    	</li>
                    
                    	<li>
                    		<a href="serve-details08.html">如何规范采购行为</a>
                    	</li>
                    
                    	<li>
                    		<a href="serve-details09.html">如何启用资源菜单管理操作</a>
                    	</li>
                	</ul>
                </div>
            	
                <!--右边对应内容-->
                <div class="right-container">
                	<div class="title-box">
                    	<p>什么是关联账户</p>
                        <dl>
                        	<dd>2016-09-07  09:00</dd>
                            <dt>2,755</dt>
                        </dl>
                    </div>
                    <ul>
                    	<li>
                        	<p>一、基本信息</p>
                            <span>
                            供应商关系管理(SRM)正如当今流行的CRM是用来改善与客户的关系一样，SRM是用来改善与供应链上游供应商的关系的，它是一种致力于实现与供应商建立和维持长久紧密伙伴关系的管理思想和软件技术的解决方案，它旨在改善企业与供应商之间关系的新型管理机制，实施于围绕企业采购业务相关的领域，目标是通过与供应商建立长期、紧密的业务关系，并通过对双方资源和竞争优势的整合来共同开拓市场。确定对各类供应商采用何种关系和发展策略，这可通过几个步骤来进行:首先，与战略供应商和大额增长型供应商在总体目标、采购类别目标、阶段性评估、信息共享和重要举措等各方面达成共识，并记录在案。其次，与各相关部门开展共同流程改进培训会议，发现有潜力改进的领域。再次，对每位供应商进行职责定位，明确其地位与作用。最后，双方达成建立供应商关系框架协议，明确关系目标。在这一部分可以做的工作包括:建立供应商的管理制度;供应商绩效管理;供应商的合同关系管理;采购流程的设计与实施。SRM能够使采购流程透明化，并能提高效率和反应能力，降低周转时间，提高买卖双方的满意度。
                            </span>
                            <span>
                            供应商绩效评估是整个供应商关系管理的重要环节。它既是对某一阶段双方合作实施效果的衡量，又是下一次供应商关系调整的基础。SRM能够帮助企业制定供应商评估流程，定期向供应商提供反馈。供应商的绩效评估流程可以从技术、质量、响应、交货、成本和合同条款履行这几个关键方面进行评估，同时该流程还可以包括相关专家团特定的绩效评估。评估流程的目的在于给双方提供开放沟通的渠道，以提升彼此的关系。同时，供应商也可以向企业做出反馈，站在客户的角度给出他们对企业的看法。这些评估信息有助于改善彼此的业务关系，从而改善企业自身的业务运作。
                            </span>
                        </li>
                        
                        <li>
                        	<p>二、简介</p>
                            <span>
                            在某些产业中，供应链上的企业之间的伙伴关系进入了一个更新的层次 -结合力量创造更多的市场价值，为整合市场创造全新的贡献。也就是说，企业之间结合彼此的核心能力，研发新的产品或推出新的方案，在最高的层次中，这种核心能力的结合甚至会扭转整合产业的方向。从日常运营层面来看，经由合作共同创造的新的市场价值，更为结为伙伴的厂商带来强而有力的竞争优势。例如苹果电脑、IBM与摩托罗拉之间合作共同创造Power PC以及其他产品。从日常营运层面来看，经由合作所创造的新市场价值，更为结为伙伴的厂商带来强而有力的竞争优势。
                            </span>
                            <span>
                            供应商绩效评估是整个供应商关系管理的重要环节。它既是对某一阶段双方合作实施效果的衡量，又是下一次供应商关系调整的基础。SRM能够帮助企业制定供应商评估流程，定期向供应商提供反馈。供应商的绩效评估流程可以从技术、质量、响应、交货、成本和合同条款履行这几个关键方面进行评估，同时该流程还可以包括相关专家团特定的绩效评估。评估流程的目的在于给双方提供开放沟通的渠道，以提升彼此的关系。同时，供应商也可以向企业做出反馈，站在客户的角度给出他们对企业的看法。这些评估信息有助于改善彼此的业务关系，从而改善企业自身的业务运作。
                            </span>
                            <span>
                            在某些产业中，供应链上的企业之间的伙伴关系进入了一个更新的层次 -结合力量创造更多的市场价值，为整合市场创造全新的贡献。也就是说，企业之间结合彼此的核心能力，研发新的产品或推出新的方案，在最高的层次中，这种核心能力的结合甚至会扭转整合产业的方向。从日常运营层面来看，经由合作共同创造的新的市场价值，更为结为伙伴的厂商带来强而有力的竞争优势。例如苹果电脑、IBM与摩托罗拉之间合作共同创造Power PC以及其他产品。从日常营运层面来看，经由合作所创造的新市场价值，更为结为伙伴的厂商带来强而有力的竞争优势。
                            </span>
                        </li>
                        
                        <li>
                        	<p>三、供应商绩效评估</p>
                            <span>
                            供应商绩效评估是整个供应商关系管理的重要环节。它既是对某一阶段双方合作实施效果的衡量，又是下一次供应商关系调整的基础。SRM能够帮助企业制定供应商评估流程，定期向供应商提供反馈。供应商的绩效评估流程可以从技术、质量、响应、交货、成本和合同条款履行这几个关键方面进行评估，同时该流程还可以包括相关专家团特定的绩效评估。评估流程的目的在于给双方提供开放沟通的渠道，以提升彼此的关系。同时，供应商也可以向企业做出反馈，站在客户的角度给出他们对企业的看法。这些评估信息有助于改善彼此的业务关系，从而改善企业自身的业务运作。
                            </span>
                            <span>
                            在某些产业中，供应链上的企业之间的伙伴关系进入了一个更新的层次 -结合力量创造更多的市场价值，为整合市场创造全新的贡献。也就是说，企业之间结合彼此的核心能力，研发新的产品或推出新的方案，在最高的层次中，为结为伙伴的厂商带来强而有力的竞争优势。
                            </span>
                            <span>
                            供应商绩效评估是整个供应商关系管理的重要环节。它既是对某一阶段双方合作实施效果的衡量，又是下一次供应商关系调整的基础。SRM能够帮助企业制定供应商评估流程，定期向供应商提供反馈。供应商的绩效评估流程可以从技术、质量、响应、交货、成本和合同条款履行这几个关键方面进行评估，同时该流程还可以包括相关专家团特定的绩效评估。评估流程的目的在于给双方提供开放沟通的渠道，以提升彼此的关系。同时，供应商也可以向企业做出反馈，站在客户的角度给出他们对企业的看法。这些评估信息有助于改善彼此的业务关系，从而改善企业自身的业务运作。
                            </span>
                        </li>
                    </ul>
                
                
                </div>
                
            
            </div>	
        
        </div>
    </div>
  
  	
  
  	<!--第五栏-->
  	<div class="footer-wrap">
  		<div class="footer">
    		<!--详情-->
			<div class="left-details">
        		<!--底部导航-->
            	<ul class="footer-nav">
            		<li><a href="#">东软集团</a></li>
                	<li><a href="#">东软慧聚</a></li>
                	<li><a href="#">下载中心</a></li>
                	<li><a href="#">常见问题</a></li>
                	<li><a href="#">问题反馈</a></li>
                	<li><a href="#">关注我们</a></li>
                	<li><a href="#">慧聚采购网</a></li>
            	</ul>
            	<p>联系我们（工作日8:30-21:00）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服热线：<span>400-650-5697</span> </p>
        
        		<!--商标-->
        		<div class="trade-mark">© 版权所有 2016 北京东软慧聚信息技术股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       问题咨询&更多建议：  service@neusoft.com</div>	
        		</div>
        	<div class="weixin-icon"></div>
        
    	</div>
  	</div>
</div>
</body>
</html>

<script>
//下拉菜单	
$(".product-nav").mouseenter(function(){
	$(".btns").show();
}).mouseleave(function(){
	$(".btns").hide();
})	
	
//鼠标经过解决方案
$(".apply-box").mouseenter(function(){
	$(this).find(".opcity-gray").hide();
}).mouseleave(function(){
	$(".opcity-gray").show();
})

//鼠标经过问题
$(".nav-container li").mouseenter(function(){
	
		$(this).find(".problem-title").addClass("current");
		
	}).mouseleave(function(){
		
		$(this).find(".problem-title").removeClass("current");	
		
});


</script>
